<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>cinema</span>
       <span class="spacer"></span>
    <button mat-icon-button color="primary" class="menu-icon" aria-label="Menu-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="secound-row">
    <button mat-raised-button color="accent">Repertuar</button>
    <button mat-stroked-button color="primary">oferty</button>
    <button mat-stroked-button color="primary">BLOG</button>
    <button mat-stroked-button color="primary">UNLIMITED</button>
    <button mat-stroked-button color="primary">4DX</button>
    <button mat-stroked-button color="primary">IMAX</button>
    <button mat-stroked-button color="primary">SCREEN X</button>
    <button mat-stroked-button color="primary">VIP</button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
